/*
 *  Paint (Japanese resources)
 *
 *  Copyright 2008 Katayama Hirofumi MZ <katayama.hirofumi.mz@gmail.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "resource.h"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(65001)

MAIN_MENU MENU
{
    POPUP "ファイル(&F)"
    {
        MENUITEM "新規(&N)\tCtrl+N",            CMD_NEW
        MENUITEM "開く(&O)...\tCtrl+O",         CMD_OPEN
        MENUITEM "上書き保存(&S)\tCtrl+S",      CMD_SAVE
        MENUITEM "名前を付けて保存(&A)...",     CMD_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "印刷プレビュー(&V)",          CMD_PRINT_PREVIEW, GRAYED
        MENUITEM "ページ設定(&U)...",           CMD_PAGE_SETUP, GRAYED
        MENUITEM "印刷(&P)...\tCtrl+P",         CMD_PRINT, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "背景に設定 (並べて表示)(&B)", CMD_WALLPAPAER_TILED, GRAYED
        MENUITEM "背景に設定 (中央に表示)(&K)", CMD_WALLPAPAER_CENTERED, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "ペイントの終了(&X)",          CMD_EXIT
    }
    POPUP "編集(&E)"
    {
        MENUITEM "元に戻す(&U)\tCtrl+Z",        CMD_UNDO
        MENUITEM "繰り返し(&R)\tCtrl+Y",        CMD_REPEAT
        MENUITEM SEPARATOR
        MENUITEM "切り取り(&T)\tCtrl+X",        CMD_CUT
        MENUITEM "コピー(&C)\tCtrl+C",          CMD_COPY
        MENUITEM "貼り付け(&P)\tCtrl+V",        CMD_PASTE
        MENUITEM "削除(&D)\tDel",               CMD_DELETE
        MENUITEM SEPARATOR
        MENUITEM "すべて選択(&A)\tCtrl+A",      CMD_SELECT_ALL
        MENUITEM SEPARATOR
        MENUITEM "ファイルへコピー(&O)...",     CMD_COPY_TO
        MENUITEM "ファイルから貼り付け(&F)...", CMD_PASTE_FROM
    }
    POPUP "表示(&V)"
    {
        MENUITEM "ツール ボックス(&T)\tCtrl+T", CMD_TOOL_BOX, CHECKED
        MENUITEM "カラー ボックス(&C)\tCtrl+L", CMD_COLOR_BOX, CHECKED
        MENUITEM "ステータス バー(&S)",         CMD_STATUS_BAR, CHECKED
        MENUITEM "書式バー(&E)",                CMD_TEXT_TOOL, CHECKED, GRAYED
        MENUITEM SEPARATOR
        POPUP "拡大(&Z)"
        {
            MENUITEM "標準に戻す(&N)\tCtrl+PgUp",   CMD_ZOOM_NORMAL
            MENUITEM "拡大する(&L)\tCtrl+PgDn",     CMD_ZOOM_LARGE
            MENUITEM "拡大率の指定(&U)",            CMD_ZOOM_CUSTOM
            MENUITEM SEPARATOR
            MENUITEM "グリッドを表示(&G)\tCtrl+G",  CMD_SHOW_GRID
            MENUITEM "実寸表示(&H)",                CMD_SHOW_THUMBNAIL, GRAYED
        }
        MENUITEM "ビットマップ表示(&V)\tCtrl+F",    CMD_VIEW_BITMAP, GRAYED
    }
    POPUP "変形(&I)"
    {
        MENUITEM "反転と回転(&F)...\tCtrl+R",               CMD_FLIP_ROTATE
        MENUITEM "伸縮と傾き(&S)...\tCtrl+W",               CMD_STRETCH_SKEW
        MENUITEM "色の反転(&I)\tCtrl+I",                    CMD_INVERT_COLORS
        MENUITEM "キャンバスの色とサイズ(&A)...\tCtrl+E",   CMD_ATTRIBUTES
        MENUITEM "すべてクリア(&C)\tCtrl+Shift+N",          CMD_CLEAR_IMAGE
        MENUITEM "背景色を不透明にする(&D)",                CMD_DRAW_OPAQUE, CHECKED, GRAYED
    }
    POPUP "色(&C)"
    {
        MENUITEM "色の編集(&E)...",         CMD_EDIT_COLOR
        MENUITEM "&Get Colors...",          CMD_GET_COLORS, GRAYED
        MENUITEM "&Save Colors...",         CMD_SAVE_COLORS, GRAYED
    }
    POPUP "ヘルプ(&H)"
    {
        MENUITEM "&Contents",               CMD_HELP_CONTENTS
        MENUITEM "ヘルプの使い方(&H)",      CMD_HELP_ON_HELP
        MENUITEM SEPARATOR
        MENUITEM "バージョン情報(&A)",      CMD_HELP_ABOUT_PAINT
    }
}

TEXT_MENU MENU
{
    POPUP "テキスト"
    {
        MENUITEM "元に戻す",                CMD_UNDO
        MENUITEM SEPARATOR
        MENUITEM "切り取り",                CMD_CUT
        MENUITEM "コピー",                  CMD_COPY
        MENUITEM "貼り付け",                CMD_PASTE
        MENUITEM "選択範囲のクリア",        CMD_CLEAR_SELECTION
        MENUITEM "すべて選択",              CMD_SELECT_ALL
        MENUITEM SEPARATOR
        MENUITEM "書式バー",                CMD_TEXT_TOOL
    }
}

SELECTION_MENU MENU
{
    POPUP "選択"
    {
        MENUITEM "切り取り(&T)",                CMD_CUT
        MENUITEM "コピー(&C)",                  CMD_COPY
        MENUITEM "貼り付け(&P)",                CMD_PASTE
        MENUITEM "選択範囲のクリア(&L)",        CMD_CLEAR_SELECTION
        MENUITEM "すべて選択(&A)",              CMD_SELECT_ALL
        MENUITEM SEPARATOR
        MENUITEM "ファイルへコピー(&O)...",     CMD_COPY_TO
        MENUITEM "ファイルから貼り付け(&F)...", CMD_PASTE_FROM
        MENUITEM SEPARATOR
        MENUITEM "反転と回転(&R)...",           CMD_FLIP_ROTATE
        MENUITEM "伸縮と傾き(&S)...",           CMD_STRETCH_SKEW
        MENUITEM "色の反転(&I)",                CMD_INVERT_COLORS
    }
}

IDD_ZOOM DIALOG 16, 16, 200, 83
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "拡大率の指定"
FONT 9, "MS Shell Dlg"
{
    LTEXT               "現在の拡大率:", stc1, 13, 7, 47, 9
    RTEXT               "", stc2, 61, 7, 49, 9
    GROUPBOX            "拡大率", grp1, 7, 20, 127, 57, WS_GROUP
    AUTORADIOBUTTON     "100%(&1)", rad1, 13, 38, 39, 10
    AUTORADIOBUTTON     "200%(&2)", rad2, 13, 57, 38, 10
    AUTORADIOBUTTON     "400%(&4)", rad3, 56, 38, 37, 10
    AUTORADIOBUTTON     "600%(&6)", rad4, 56, 57, 37, 10
    AUTORADIOBUTTON     "800%(&8)", rad5, 94, 38, 36, 10
    DEFPUSHBUTTON       "OK", IDOK, 142, 7, 50, 14
    PUSHBUTTON          "キャンセル", IDCANCEL, 142, 24, 50, 14
}

IDD_FLIP_ROTATE DIALOG 32, 16, 200, 107
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "反転と回転"
FONT 9, "MS Shell Dlg"
{
    GROUPBOX        "反転と回転", grp1, 7, 7, 127, 94
    CONTROL         "水平方向(&F)", rad1, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP, 13, 20, 77, 9
    CONTROL         "垂直方向(&V)", rad2, "BUTTON", BS_AUTORADIOBUTTON, 13, 33, 72, 9
    CONTROL         "角度を指定(&R)", rad3, "BUTTON", BS_AUTORADIOBUTTON, 13, 46, 72, 9
    CONTROL         "90°(&9)", rad4, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_DISABLED, 49, 60, 40, 10
    CONTROL         "180°(&1)", rad5, "BUTTON", BS_AUTORADIOBUTTON | WS_DISABLED, 49, 73, 43, 10
    CONTROL         "270°(&2)", rad6, "BUTTON", BS_AUTORADIOBUTTON | WS_DISABLED, 49, 86, 43, 10
    DEFPUSHBUTTON   "OK", IDOK, 142, 7, 50, 14
    PUSHBUTTON      "キャンセル", IDCANCEL, 142, 24, 50, 14
}

IDD_STRETCH_SKEW DIALOG 18, 48, 232, 150
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "伸縮と傾き"
FONT 9, "MS Shell Dlg"
{
    GROUPBOX    "伸縮", IDC_STATIC, 7, 7, 160, 67, WS_GROUP
    ICON        100, ico1, 15, 20, 21, 22
    LTEXT       "水平方向(&H):", IDC_STATIC, 47, 27, 46, 8
    EDITTEXT    edt1, 95, 26, 32, 12, ES_AUTOHSCROLL
    LTEXT       "%", IDC_STATIC, 130, 28, 8, 8
    ICON        101, ico2, 15, 45, 21, 22
    LTEXT       "垂直方向(&V):", IDC_STATIC, 47, 51, 46, 8
    EDITTEXT    edt2, 95, 50, 32, 12, ES_AUTOHSCROLL
    LTEXT       "%", IDC_STATIC, 130, 52, 8, 8
    GROUPBOX    "傾き", IDC_STATIC, 7, 77, 160, 67, WS_GROUP
    ICON        102, ico3, 15, 90, 21, 22
    LTEXT       "水平方向(&O):", IDC_STATIC, 47, 97, 46, 8
    EDITTEXT    edt3, 95, 96, 32, 12, ES_AUTOHSCROLL
    LTEXT       "度", IDC_STATIC, 130, 98, 28, 8
    ICON        103, ico4, 15, 115, 21, 22
    LTEXT       "垂直方向(&E):", IDC_STATIC, 47, 121, 46, 8
    EDITTEXT    edt4, 95, 120, 32, 12, ES_AUTOHSCROLL
    LTEXT       "度", IDC_STATIC, 130, 122, 28, 8
    DEFPUSHBUTTON   "OK", IDOK, 175, 7, 50, 14
    PUSHBUTTON      "キャンセル", IDCANCEL, 175, 24, 50, 14
}

IDD_ATTRIBUTES DIALOG 0, 0, 234, 166
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "キャンバスの色とサイズ"
FONT 9, "MS Shell Dlg"
{
    LTEXT       "", stc1, 13, 7, 144, 8
    LTEXT       "", stc2, 13, 17, 144, 8
    LTEXT       "幅(&W):", IDC_STATIC, 13, 44, 22, 10
    EDITTEXT    edt1, 42, 42, 32, 12, ES_AUTOHSCROLL
    LTEXT       "高さ(&H):", IDC_STATIC, 92, 44, 28, 10
    EDITTEXT    edt2, 123, 42, 32, 12, ES_AUTOHSCROLL
    GROUPBOX    "単位", IDC_STATIC, 7, 58, 154, 28, WS_GROUP
    AUTORADIOBUTTON "インチ(&I)", rad1, 13, 70, 35, 10
    AUTORADIOBUTTON "cm(&M)", rad2, 63, 70, 34, 10
    AUTORADIOBUTTON "ピクセル(&P)", rad3, 105, 70, 46, 10
    GROUPBOX        "色", IDC_STATIC, 7, 90, 154, 28, WS_GROUP
    AUTORADIOBUTTON "白黒(&B)", rad4, 13, 102, 64, 10
    AUTORADIOBUTTON "カラー(&L)", rad5, 105, 102, 45, 10
    GROUPBOX        "透明色", IDC_STATIC, 7, 122, 154, 48, WS_GROUP
    AUTOCHECKBOX    "背景色を透明する(&T)", chx1, 13, 134, 126, 10
    PUSHBUTTON      "色の選択(&C)...", psh1, 33, 148, 73, 14
    CONTROL         "", stc4, "STATIC", NOT WS_GROUP | SS_GRAYFRAME | SS_SUNKEN, 119, 148, 16, 14
    DEFPUSHBUTTON   "OK", IDOK, 176, 7, 50, 14
    PUSHBUTTON      "キャンセル", IDCANCEL, 176, 24, 50, 14
    PUSHBUTTON      "既定値(&D)", psh2, 176, 41, 50, 14
}

STRINGTABLE DISCARDABLE
{
    STRING_PAINT,           "ペイント"
    STRING_UNTITLED,        "無題"
    STRING_ALL_FILES,       "すべてのファイル (*.*)"
    STRING_BMP_FILES_BMP,   "ビットマップ ファイル (*.bmp)"
    STRING_DOESNOTEXIST,    "ファイル '%s' は存在しません。\n\n新しいファイルを作成しますか?"
    STRING_SAVECHANGE,      "%s への変更を保存しますか?"
    STRING_NOTFOUND,        "'%s'は見つかりません。"
    STRING_MONOCROME_BM,    "白黒ビットマップ (*.bmp)"
    STRING_16COLOR_BM,      "16色ビットマップ (*.bmp)"
    STRING_256COLOR_BM,     "256色ビットマップ (*.bmp)"
    STRING_24BIT_BM,        "24ビット ビットマップ (*.bmp)"
    STRING_JPEG_FILES,      "JPEG (*.JPG;*.JPEG;*.JPE;*.JFIF)"
    STRING_GIF_FILES,       "GIF (*.GIF)"
    STRING_TIFF_FILES,      "TIFF (*.TIF;*.TIFF)"
    STRING_PNG_FILES,       "PNG (*.PNG)"
    STRING_ICON_FILES,      "アイコン ファイル (*.ico)"
    STRING_PCX_FILES,       "PCX ファイル (*.pcx)"
    STRING_ALL_PICTURE,     "すべてのピクチャ ファイル"
    STRING_PALETTE,         "パレット (*.pal)"
}

STRINGTABLE DISCARDABLE
{
    STRING_POLYSELECT,      "絵の一部を選択して、移動、コピー、または編集します。"
    STRING_BOXSELECT,       "絵の一部を四角形で選択して、移動、コピー、または編集します。"
    STRING_ERASER,          "選択された消しゴムで、絵の一部を消します。"
    STRING_FLOODFILL,       "現在の色で領域を塗りつぶします。"
    STRING_SPOIT,           "絵の中から、色を選択します。"
    STRING_MAGNIFIER,       "拡大または縮小します。"
    STRING_PENCIL,          "1 ピクセル幅の線を引きます。"
    STRING_BRUSH,           "選択された形や幅のブラシで描きます。"
    STRING_AIRBRUSH,        "選択されたサイズのエアブラシで描きます。"
    STRING_TEXT,            "絵の中にテキストを貼り付けます。"
    STRING_LINE,            "選択された太さの線で、直線を引きます。"
    STRING_CURVE,           "選択された太さの線で、曲線を引きます。"
    STRING_BOX,             "選択された塗りつぶし形式で、四角形を描きます。"
    STRING_POLYGON,         "選択された塗りつぶし形式で、多角形を描きます。"
    STRING_ELLIPSE,         "選択された塗りつぶし形式で、楕円を描きます。"
    STRING_ROUNDRECT,       "選択された塗りつぶし形式で、角の丸い四角形を描きます。"
}

STRINGTABLE DISCARDABLE
{
    STRING_NEW,             "新しいドキュメントを作成します。"
    STRING_OPEN,            "既存のドキュメントを開きます。"
    STRING_SAVE,            "現在のドキュメントを保存します。"
    STRING_SAVE_AS,         "現在のドキュメントを新しい名前で保存します。"
    STRING_PRINT_PREVIEW,   "ページ全体を表示します。"
    STRING_PAGE_SETUP,      "ページ レイアウトの設定を変更します。"
    STRING_PRINT,           "印刷オプションを設定し、現在のファイルを印刷します。"
    STRING_EXIT,            "ペイントを終了します。"

    STRING_WALLPAPAER_TILED,    "このビットマップをデスクトップの背景として使用し、並べて表示します。"
    STRING_WALLPAPAER_CENTERED, "このビットマップをデスクトップの背景として使用し、中央に表示します。"

    STRING_UNDO,            "直前に行った操作を取り消します。"
    STRING_CUT,             "選択範囲を切り取ってクリップボードに移動します。"
    STRING_COPY,            "選択範囲をクリップボードにコピーします。"
    STRING_PASTE,           "クリップボードの内容を挿入します。"
    STRING_DELETE,          "選択範囲を削除します。"
    STRING_SELECT_ALL,      "すべての範囲を選択します。"
    STRING_REPEAT,          "取り消した操作をやり直します。"
    STRING_COPY_TO,         "選択範囲をファイルにコピーします。"
    STRING_PASTE_FROM,      "選択範囲にファイルを貼り付けます。"

    STRING_TOOL_BOX,        "ツール ボックスの表示/非表示を切り替えます。"
    STRING_COLOR_BOX,       "カラー ボックスの表示/非表示を切り替えます。"
    STRING_STATUS_BAR,      "ステータス バーの表示/非表示を切り替えます。"
    STRING_TEXT_TOOL,       "書式バーの表示/非表示を切り替えます。"
    STRING_ZOOM_NORMAL,     "絵を 100% に戻します。"
    STRING_ZOOM_LARGE,      "絵を 4 倍に拡大します。"
    STRING_ZOOM_CUSTOM,     "絵を拡大します。"
    STRING_SHOW_GRID,       "グリッドの表示/非表示を切り替えます。"
    STRING_VIEW_BITMAP,     "絵を画面全体に表示します。"
    STRING_SHOW_THUMBNAIL,  "実寸の表示/非表示を切り替えます。"

    STRING_FLIP_ROTATE,     "絵または選択範囲を反転/回転させます。"
    STRING_STRETCH_SKEW,    "絵または選択範囲を伸縮/傾斜させます。"
    STRING_INVERT_COLORS,   "絵または選択範囲の色を反転させます。"
    STRING_ATTRIBUTES,      "キャンバスの色とサイズを変更します。"
    STRING_CLEAR_IMAGE,     "絵または選択範囲をクリアします。"
    STRING_DRAW_OPAQUE,     "選択範囲の背景色を不透明または透明にします。"
    STRING_CLEAR_SELECTION, "絵または選択範囲をクリアします。"

    STRING_EDIT_COLOR,      "新しい色を作成します。"
    STRING_GET_COLORS,      "以前に保存したパレットを使用します。"
    STRING_SAVE_COLORS,     "現在のパレットをファイルに保存します。"

    STRING_HELP_CONTENTS,       "ペイントのヘルプを開きます。"
    STRING_HELP_ON_HELP,        "ヘルプの使い方を表示します。"
    STRING_HELP_ABOUT_PAINT,    "プログラム情報、バージョン、著作権を表示します。"
}

STRINGTABLE DISCARDABLE
{
    STRING_SIZE,            "このウィンドウのサイズを変更します。"
    STRING_MOVE,            "このウィンドウを画面の別の位置に移動します。"
    STRING_MINIMIZE,        "このウィンドウを最小化します。"
    STRING_MAXIMIZE,        "このウィンドウを画面いっぱいに拡大します。"
    STRING_NEXTWINDOW,      "次のドキュメント ウィンドウに切り替えます。"
    STRING_PREVWINDOW,      "前のドキュメント ウィンドウに切り替えます。"
    STRING_CLOSE,           "変更の保存を確認してから、アクティブ ウィンドウを閉じます。"
    STRING_RESTORE,         "ウィンドウを通常の大きさに戻します。"
    STRING_TASKLIST,        "タスク リストを表示します。"
}

STRINGTABLE DISCARDABLE
{
    STRING_READY,           "準備完了"
    STRING_POSITIVE_INT,    "正の整数を入力してください。"
    STRING_INVALID_BM,      "不正なビットマップです。"
    STRING_LOSS_COLOR,      "この形式に保存すると、色情報の一部が失われる可能性があります。\n続行しますか?"
}

#pragma code_page(default)
